.git
.github
.githooks
.moon/cache
node_modules
apps/api/.venv
apps/api/__pycache__
apps/api/.pytest_cache
apps/api/.ruff_cache
apps/api/.mypy_cache
apps/client-user/.output
apps/client-user/.vinxi
apps/client-user/node_modules
apps/client-admin/.output
apps/client-admin/.vinxi
apps/client-admin/node_modules
packages/*/dist
packages/*/node_modules
*.log
